<%= form_with(model: group) do |form| %>
  <% if group.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(group.errors.count, "error") %> prohibited this group from being saved:</h2>

      <ul>
        <% group.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="container-grp-form">
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name, class: 'form-control' %>
 
    <%= form.label :icon, style: "display: block" %>
    <%= form.select :icon, [['ðŸŽ²'], ['ðŸš˜'], ['ðŸ›’'], ['ðŸ•ðŸ”'], ['ðŸ“š'], ['ðŸ¿ðŸŽžï¸'], ['â˜•'], ['ðŸ’'],
      ['ðŸŒâ›³'], ['âœðŸ½'], ['â›¹'], ['â¤ï¸'], ['â›½'], ['ðŸ¶'], ['ðŸŒ³'], ['ðŸŒŽ'], ['ðŸŒ­'], ['ðŸŒ¯'], ['ðŸŒ±'], ['ðŸŒ¹'],['ðŸ’°'], ['ðŸ’±ðŸ’²'], ['ðŸ’»'], ['ðŸ“ž'], ['ðŸšŒ'], ['ðŸš‘'], ['ðŸ¤‘'],

      ['ðŸŽ“'], ['ðŸŽ¦'], ['ðŸŽ¸ðŸŽ¹ðŸŽº'], ['ðŸ‚ðŸ„'], ['ðŸ“'], ['ðŸ¶'], ['ðŸ '],['ðŸ¨'], ['ðŸ¯'], ['ðŸ„'], ['ðŸŽ'], ['ðŸ“'],['ðŸ–'], ['ðŸ‘ª'], ['ðŸ '],['ðŸ¨'], ['ðŸ¯'], ['ðŸ‘”ðŸ‘—'], ['ðŸ‘ ðŸ‘žðŸ‘œ'], ['ðŸ’†ðŸ’…'],

      ['ðŸˆâš½'], ['ðŸ‡ðŸ‰ðŸ’'], ['âœˆï¸'], ['ðŸ•ï¸'], ['ðŸš²'], ['ðŸ”¨ðŸ”§'], ['ðŸ“†'], ['ðŸ–ðŸ—'], ['ðŸž'], ['ðŸ“Œ'], ['âœ‚ï¸'], ['ðŸ§'],
      ['ðŸ§³'], ['ðŸ©'], ['âš½'], ['ðŸŽ¾'], ['ðŸ¤¿'], ['ðŸŽ¨'], ['ðŸŽ'], ['ðŸŽ®'], ['ðŸ¬ðŸ­'], ['ðŸ¼'], ['ðŸ½ï¸'], ['ðŸºðŸ»'],['ðŸŽ’'], ['ðŸ°ðŸŽ‚'], ['ðŸŽ…ðŸŽ„'], ['ðŸŽ¾'], ['ðŸŸ'], ['ðŸŽ¨'], ['ðŸŽ³'], ['ðŸŽ'], ['ðŸ´'], ['ðŸ·ðŸ¸ðŸ¹'], ['ðŸ“º'], ['ðŸŽ‰ðŸŽŠ'],[]] %>
    </div>
    <%= form.submit "Save", class: "save-grp-btn" %>
  </div>
<% end %>
