<div class="splash-container">
   <h1 class="splash-title">BUDGETARY APP TRANSACTIONS</h1>
</div>
<div>
   <% if user_signed_in?%>
<!--accessing the name the current user-->

<div>
<div class="splash-user">    
      <h2> 👤	
  <%= current_user.name %></h2>
  <div class="splash-btn">
      <%= link_to 'view groups',  groups_path, class: "splash-link" %> <br/>
   
      <%= link_to "Sign out", destroy_user_session_path, method: :delete, class: "splash-link" %>
   </div>
</div>

</div>

  <% else %>
  <%= link_to "Sign in", new_user_session_path, method: :delete, class:"nav-link" %>

  <%= link_to "Sign up", new_user_registration_path, method: :delete, class:"nav-link" %>

  <% end %>
</div>


