<p style="color: green"><%= notice %></p>

<h1>Expenses</h1>

<div id="expenses">
  <% @expenses.each do |expense| %>
    <%= render expense %>
    
    <p>
      <%= link_to "Show this expense", expense %>
    </p>
    <div> id: <%= expense.group_id%></div>
  <% end %>
</div>
  <%= link_to "Back to groups", groups_path %>
<%= link_to "Add New Transaction", new_expense_path %>
